*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
}

.row{
    position: relative;
    font-family:'Noto Sans', sans-serif;
    padding: 10px;
    text-align: center;
    top: 40px;
}

table{
    width: 1300px;
    text-align: center;
    position: relative;
    left: 80px;
    padding: 20px;
}

table,th,td{
    border: 2px solid wheat;
    border-collapse: collapse;
}

table th{
    padding: 10px;
    background:rgb(34, 33, 33) ;

}

table td{
    background: rgb(56, 53, 53);
    padding: 8px;
    font-family: 'Poppins', sans-serif;
}

.close{
    font-size: 60px;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
    color: antiquewhite;
    position: relative;
    cursor: pointer;
    float: right;
    bottom: 60px;
    right: 20px;
}

